<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <p>I am a University of Waterloo CS Grad. My main technical interests include: Android/iOS/web development, computer graphics, graph theory, distributed systems, computer security, cryptography, and machine learning!</p>
            
            <p>Some of my personal interests are traveling, learning new languages (にほんごはすごいですね～）, trying out new food, reading, and music (listening and "producing")!</p>
    </div>
</section>